@messenger-blue:                 #0084ff;

/* -------------- DEFAULT THEME -------------- */

@def-screen-background:         #ffffff;
@def-dropdown-background:       #ffffff;
@def-primary-text:              #000000;

@def-secondary-border:          rgba(0, 0, 0, 0.1);

@dark-shadow:                   0 1px 10px rgba(0, 0, 0, 0.35);
@def-bordered-shadow:           0 0 0 1px @def-secondary-border, @dark-shadow;

/* -------------- CHARCOAL THEME -------------- */

@screen-background:             #131313;
@dropdown-background:           lighten(@screen-background, 5%);
@reactions-background:          lighten(@screen-background, 25%);

@messenger-blue-brightness:     85%;
@chat-theme-brightness:         85%;

@primary-text:                  #c9c9c9;
@secondary-text:                darken(@primary-text, 35%);
@link-text:                     lighten(@messenger-blue, 20%);

@other-message-text:            #d9d9d9;
@me-message-text:               fade(black, 80%);

@highlighted:                   rgba(255, 255, 255, 0.12);
@hover:                         rgba(255, 255, 255, 0.05);

@primary-border:                rgba(255, 255, 255, 0.2);
@secondary-border:              rgba(255, 255, 255, 0.12);

@light-shadow:                  0 1px 10px rgba(255, 255, 255, 0.10);
@bordered-shadow:               0 0 0 1px @secondary-border, @light-shadow;

/* -------------- MIDNIGHT THEME -------------- */

@m-screen-background:             #000000;
@m-dropdown-background:           lighten(@m-screen-background, 7%);
@m-reactions-background:          lighten(@m-screen-background, 22%);

@m-messenger-blue-brightness:     85%;
@m-chat-theme-brightness:         80%;

@m-primary-text:                  #c0c0c0;
@m-secondary-text:                darken(@m-primary-text, 30%);
@m-link-text:                     lighten(@messenger-blue, 10%);

@m-other-message-text:            #bbbbbb;
@m-me-message-text:               fade(black, 90%);

@m-highlighted:                   rgba(255, 255, 255, 0.15);
@m-hover:                         rgba(255, 255, 255, 0.10);

@m-primary-border:                rgba(255, 255, 255, 0.2);
@m-secondary-border:              rgba(255, 255, 255, 0.17);

@m-light-shadow:                  0 1px 10px rgba(255, 255, 255, 0.12);
@m-bordered-shadow:               0 0 0 1px @secondary-border, @light-shadow;