@import (reference) "colors.less";

@theme-toggle-size:             16px;
@theme-toggle-circle-padding:   4px;

@slider-height:                 20px;
@slider-width:                  1.6666 * @slider-height;
@button-padding:                2px;

@button-height:                 @slider-height - 2*@button-padding;
@slider-translation:            @slider-width - 2*@button-padding - @button-height;

/* -------------- TOGGLE ICON -------------- */

.charcoal_toggle_wrapper {
  width: @theme-toggle-size;
  height: @theme-toggle-size;
  position: fixed;
  z-index: 999;
  top: 7px;
  left: 40px;
}

.charcoal_toggle {
  width: @theme-toggle-size;
  height: @theme-toggle-size;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  .charcoal_theme & {
    &:after {
      content: "";
      display: block;
      background-color: white;
      position: absolute;
      width: 70%;
      height: 40%;
      left: 15%;
      top: 30%;
      z-index: -1;
    }
  }
}

@media(max-width: 700px) {
  .charcoal_toggle_wrapper {
    left: 7px;
  }
}

/* -------------- SETTINGS -------------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

.charcoal_dropdown {
  position: relative;
  width: 250px;
  padding: 0;
  margin: 0;
  background-size: 100% auto;
  font-family: "Open Sans", Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;

  &.offset {
    top: -18px;
    left: 25px;
  }

  &, * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  }

  body {
    background-color: rgba(0,0,0,0);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 0;
    margin: 0;
  }

  // used when settings are displayed within messenger
  #in_messenger_dropdown_container {
    border-radius: 5px;
    padding: 3px 0px;
    background-color: @def-dropdown-background;
    box-shadow: @def-bordered-shadow;

    .charcoal_theme & {
      background-color: @dropdown-background;
      box-shadow: @bordered-shadow;
    }
    .midnight_theme & {
      background-color: @m-dropdown-background;
      box-shadow: @m-bordered-shadow;
    }
  }

  .disclosure {
    margin: 10px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    height: auto;
  }

  .button {
    margin: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    color: white;
    background-color: @messenger-blue;
    text-align: center;
    font-weight: bold;

    .charcoal_theme & {
      background-color: rgba(255,255, 255, 0.2);
      color: @primary-text;
    }

    .midnight_theme & {
      background-color: rgba(255,255, 255, 0.25);
      color: @m-primary-text;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }

    &:active {
      opacity: 0.7;
    }
  }
}

.settings_list {
  .setting_row {
    display: flex;
    padding: 10px;
    height: 44px;

    &.charcoal_theme {
      background-color: @screen-background;
      color: @primary-text;
    }

    &.midnight_theme {
      background-color: @m-screen-background;
      color: @m-primary-text;
    }

    .setting_name_label {
      font-size: 14px;
      font-weight: bold;
      flex-grow: 1;
      align-self: center;
    }

    .charcoal_toggle_circle {
      padding: @theme-toggle-circle-padding;
      border-radius: (@theme-toggle-size + @theme-toggle-circle-padding*2)/2;
      position: relative;
      z-index: 1;
    }
  }

  .separator {
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .options {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    margin: 5px 10px;
    border-radius: 5px;

    &.disabled {
      .setting_row {
        opacity: 0.30;

        &, * {
          cursor: auto!important;
        }
      }
    }

    .setting_row {
      &:hover {
        cursor: pointer;
      }
    }

    #in_messenger_dropdown_container & {
      border: 1px solid rgba(0,0,0,0);

      .charcoal_theme & {
        border-color: @secondary-border;
      }

      .midnight_theme & {
        border-color: @m-secondary-border;
      }
    }
  }
}

/* -------------- CUSTOM SWITCH -------------- */

.switch {
  position: relative;
  display: inline-block;
  width: @slider-width;
  height: @slider-height;
  align-self: center;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: @button-height;
  width: @button-height;
  left: @button-padding;
  bottom: @button-padding;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: @messenger-blue;
}

input:focus + .slider {
  box-shadow: 0 0 1px @messenger-blue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(@slider-translation);
  -ms-transform: translateX(@slider-translation);
  transform: translateX(@slider-translation);
}

/* Rounded sliders */
.slider.round {
  border-radius: @slider-height / 2;
}

.slider.round:before {
  border-radius: 50%;
}